<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                Calculate your liquids
            </div>
            <div class="card-body">
                <div class="mb-3">
                    <label for="" class="form-label">Reservoir capacity (l)</label>
                    <input class="form-control" type="number" id="capacity" name="capacity" [(ngModel)]="capacity">
                </div>
                <div class="mb-3">
                    <label for="" class="form-label">Reservoir filling speed (l/h)</label>
                    <input class="form-control" type="number" id="speed" name="speed" [(ngModel)]="speed">
                </div>
                <div class="mb-3">
                    <label for="" class="form-label">Filling time (h)</label>
                    <input class="form-control" type="number" id="time" name="time" [(ngModel)]="time">
                </div>
                <button class="btn btn-success" type="button"  (click)="calculate()" [disabled]="capacity==null || speed==null || time==null">Calculate</button>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header" >
                Results
            </div>
            <div class="card-body">
                <div *ngIf="percentage!=0" class="alert" [ngClass]="{'alert-success':percentage<80, 'alert-warning':(percentage>=80 && percentage<100),'alert-danger':percentage>=100}">
                    <strong  >{{percentage}}% </strong><br>

                    Reservoir state: {{ info }}
                </div>
                
                
                
                <div *ngIf="percentage==0">
                Fill in the details
                </div>
            </div>
        </div>
    </div>
</div>